html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.fp{
    height: 100vh;
}
.lineChange{
    display: none;
}
.back{
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: fixed;
}
#intro{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 99;
    justify-content: space-around;
    transition:all 0.5s;
}
#intro.active{
    background-color: rgba(255, 255, 255, 0.7);
}
#intro.active nav{
    padding: 10px 0;
}
#intro.active .logo a{
    font-size: 1.3rem;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    transition: all 0.5s;
}
.logo > a{
    font-size: 2.2rem;
    transition: all 0.5s;
}
.logo a:hover{
    transition: ease all 0.3s;
    transform: scale(1.1);
}
.logo {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    margin: 8px 0px;
  }
.logo::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.7);
    height: 2px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
  }
.nav_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
}
.nav_menu li{
    padding : 8px 15px;
}
.nav_menu li a{
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
}
.nav_menu li a:hover{
    transition: ease all 0.3s;
    color: #fff;;
}
.main{
    color:rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    font-size: 10em;
    margin: 30px;
    font-weight: bold;
}
.profile{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    vertical-align: middle;
    background: linear-gradient( 180deg, #d8c7b3 10%, #fff 90% );;
    /*background:linear-gradient( 90deg, #f0f6f5 30%, #fff 70% );*/
}
.profile img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}
.profile_info{
    z-index: 99;
}
.profile_info ul li h4{
    text-align: left;
    color: #6f7d8f;
    font-size: 25px;
}
.profile > div{
    display: inline-block;
    width: 30%;
}
.profile_info ul li{
    margin-bottom: 50px;
}
.profile_info ul li div{
    width: 60%;
    margin: 0 auto;
}
.profile_info ul li div p{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}
.mac, .shop{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: #f0f6f5;
    align-items: center;
    font-size: 1.3rem;
    align-items: center;
}
.micro{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    align-items: center;
    background-color: #fff;
}
.shop div img, .micro div img{
    width: 60%;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 30%);
}
.mac div, .micro div, .shop div{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mac div img{
    width: 30%;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 30%);
}
.mac div img:hover, .shop div img:hover, .micro div img:hover{
    transition: ease all 0.3s;
    transform: scale(1.1);
}
.footer{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
}
.footer > div{
    width: 50%;
    height: 60vh;
    margin: 0 auto;
    border: 10px solid #fff;
    color: #fff;
}
.footer > div> p{
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
}