
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.lineChange{
    display: none;
}
.intro{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.intro video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin-left: 10%;
}
.logo > a{
    font-size: 30px;
}
.logo:hover{
    transition: ease all 0.3s;
    transform: scale(1.2);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 30%);
}
.nav_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
}
.nav_menu li{
    padding : 8px 20px;
}
.nav_menu li a{
    width: 100%;
    height: 100%;
    font-size: 15px;
}
.nav_menu li a:hover{
    transition: ease all 0.3s;
    color: #fff;;
}
.toggleBtn{
    display: none;
    position: absolute;
}
@media screen and (max-width: 1024px){
    .lineChange{
        display: block;
    }
    .nav{
        padding: 10px 0;
    }
    .logo{
        font-size: 25px;
    }
    .nav_menu li a{
        font-size: 15px;
    }
}
@media screen and (max-width: 769px){
    .lineChange{
        display: none;
    }
    nav{
        justify-content: center;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .nav_menu{
        display: none;
        flex-direction: column;
    }
    .nav_menu li {
        width: 100%;
        text-align: center;
    }
    .toggleBtn{
        display: block;
    }
}